.login-box {
    margin: 100px 25px 100px 25px;
}

.login-title {
    font-size: larger;
    font-weight: bolder;
}

.display-name-prompt {
    font-weight: bold;
    color: dimgray;
}

.display-name-prompt.error {
    border-color: red;
    color: red;
}

.chat-box {
    margin: 10px 15px 10px 15px;
}

.chat-room-title {
    font-size: larger;
    font-weight: bolder;
}

.peers-title {
    font-size: large;
    font-weight: bold;
}